# Notebook dependencies
jupyter
jupyterlab
ipywidgets
ipympl
widgetsnbextension
nodejs
numpy
scipy
matplotlib
numba
llvmlite  # numba dependency
h5py
nibabel
scikit-image # nibabel dependency
PyWavelets # nibabel dependency
imageio # nibabel dependency
brainweb>=1.5.1
tqdm
docopt

# Developer dependencies
nbstripout
